<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Game</title>
  <link rel="stylesheet" href="styles/style.css">
 </head>

<body>
  <% include global/header %>

  <div id="feedback">
  </div>
  <div id="throw_choice">
      <h2 id = "throw_choice_header">Choose your hand, <%=user.name%> </h2>
      <form action="<%=user.name%>/results" method="get">
        Enter your choice of weapon:<br>
        <select id="select_throw_choice" name="weapon">
          <option value="0"> </option>
          <option value="1">Rock</option>
          <option value="2">Paper</option>
          <option value="3">Scissors</option>
        </select><br>
        <button type = "submit" id="player_throw_submit_button">Submit</button>
      </form>
    </div>
    <div id="buttons">
      <a class="button" href ="/rules">Rules</a>
      <a class="button" href ="/stats">Stats</a>
      <a class="button" href ="/about">About</a>
      <a class="button" href ="/">Log Out</a>
    </div>
  <footer>
    Brought to you by the cool kids of Software Engineering - Fall, 2018.
  </footer>
 </body>
</html>
