<!DOCTYPE html>
<html>
<head>
  <title>Rock, Paper, Scissors - Rules</title>
  <link rel="stylesheet" href="styles/style.css">
 </head>

<body>
  <% include global/header %>

  <div id="rules">
    <h2>Rules</h2>
    Rock, Paper, Scissors is the most <i><b>INTENSE</b></i> of games.
    Each player must choose one of the following hands to throw:
    <ul>
      <li>Rock</li>
      <li>Paper</li>
      <li>Scissors</li>
    </ul>
    <br>
    Browser will also choose a hand to throw. If both the player and Browser pick the same hand, it's a tie. Otherwise,
    <ul>
      <li>Paper beats rock.</li>
      <li>Scissors beats paper.</li>
      <li>Rock beat scissors. </li>
    </ul>
    For more information, go to the <a href = "http://worldrps.com/"> World RPS Society</a>
  </div>
  <div id="buttons">
    <a class="button" href ="/stats">Stats</a>
    <a class="button" href ="/about">About</a>
    <!-- <a class="button" href = "">Back to Game</a> -->
    <a class="button" href ="/">Log Out</a>
  </div>
 </body>
</html>
